<!-- CSS Section -->
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/navbar/navbar.css">

<!-- CSS Section for Animation and Hover Animation and Icons in Business Contact-->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!-- CSS Section for Table in Business Contact-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><img src="../../../assets/images/Team Logo.png" id="brand" style="size: 30px;"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home button -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>

                <!-- Dropdown menu -->
                <li class="nav-item dropdown">

                    <!-- Dropdown menu display text -->
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Tournaments
                    </a>

                    <!-- Actual dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <!-- If the user is not logged in, the "create tournament" button will redirect the user to the login page -->
                        <li *ngIf='!isLoggedIn()'><a class="dropdown-item" href="/login">Create new tournament</a></li>
                        <li *ngIf='isLoggedIn()'><a class="dropdown-item" href="/admin/main/Tournaments/add">Create new tournament</a></li>
                        <li><a class="dropdown-item" href="/tournaments">View all tournaments</a></li>
                    </ul>
                </li>

                <!-- Admin text -->
                <li *ngIf='isLoggedIn()' class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link text-warning" href="/admin/main"><i class="fas fa-lg fa-user-shield"></i>
                        Admin </a>
                </li>

                <!-- Welcome message -->
                <li *ngIf='isLoggedIn()' class="navbar-text text-success d-lg-inline" style="padding: 10px 8px 10px 8px;">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <i class="fas fa-lg fa-user fa-1x"></i> 
                        <div style="padding-left: 3px;">Welcome, {{ user.displayName }}</div>
                    </div>
                </li>

                <!-- Logout button  -->
                <li *ngIf='isLoggedIn()' class="nav-item">
                    <a (click)='onLogoutClick()' routerLink='/logout' class="nav-link" href="/login">
                        <i class="fas fa-lg fa-sign-out-alt"></i> Logout </a>
                </li>

                <!-- Login button -->
                <li *ngIf='!isLoggedIn()' class="nav-item">
                    <a class="nav-link" href="/login"><i class="fas fa-lg fa-sign-in-alt"></i> Login </a>
                </li>
            </ul>
        </div>
    </div>
</nav>