<!-- Actual component content -->
<div style="background-color: rgb(255, 255, 255); color: black;">
    <table class="table table-striped" style="border-radius: 30px; padding: 0px 0px 0px 0px;">
        <thead style="color: white; background-color: black;">
          <tr>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">entry</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let tournament of tournaments'>
            <th scope="row">{{ tournament._id }}</th>
            <td>{{ tournament.title }}</td>
            <td>{{ tournament.entry }}</td>
            
          </tr>
        </tbody>
      </table>
</div>
