<table id="dtBasicExample" datatable="ng"  [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table hover cell-border order-column stripe">
  
  <!-- Table header -->
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Date</th>
      <th>Number Of Rounds</th>
      <th>End Date</th>
      <th>Location</th>
      <th>Winner</th>
    </tr>
  </thead>

  <!-- Table body -->
  <tbody>
    <tr *ngFor='let t of gettournaments()'>
      <td>{{ t.name }}</td>
      <td>{{ t.startDate }}</td>
      <td>{{ t.numberOfRounds }}</td>
      <td>{{ t.endDate }}</td>
      <td>{{ t.location}}</td>
      <td>{{ t.winner}}</td>
    </tr>
  </tbody>
</table>