<!-- Main content -->
<div class="container bottom-space">

    <!-- Base page component -->
    <app-base-page></app-base-page>
  
    <!-- Actual page content-->
    <div class="container register page-content" style="background-color: #c4d4e0;">

        <!-- Message Area -->
        <div class="bg-danger mt-2 p-2 text-center text-white"
                *ngIf='errorMessage != null'>
            {{ errorMessage }}
        </div>
        <!-- Registration container -->
        <div class="row">

            <!-- Left part -->
            <div class="col-md-3 register-left" style="border-right: 8px solid gray;">
                <i class="fas fa-gamepad fa-6x" style="color: #383d41;"></i>
                <h3 style="color: rgb(0, 0, 0);">Welcome</h3>
                <p style="color: rgb(0, 0, 0);">Already has an account? If so, login here!</p>
                <a href="/login"><input class="btn-get-started animate__animated hvr-buzz-out" 
                                        type="submit" name="" value="Login" style="margin-bottom: 40px;"/><br/>
                </a>
            </div>

            <!-- Right part -->
            <div class="col-md-9 register-right">

                <!-- Sign up text header -->
                <h3 class="register-heading" style="margin-bottom: 25px;">Sign Up</h3>

                <!-- Register form -->
                <form autocomplete='off' #form='ngForm' (ngSubmit)='register(form)'>
                    
                    <div class="row register-form" style="padding: 15px; margin-top: 0px;">
                    
                        <!-- Form column -->
                        <div class="col-md-6">

                            <!-- Full name field -->
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    placeholder="Full Name*" 
                                    [(ngModel)]='user.displayName'
                                    name="displayName"
                                    id="displayName" value="" />
                            </div>

                            <!-- Username field -->
                            <div class="form-group">
                                <input type="text" class="form-control"
                                    placeholder="User Name *" name="username" id="username" [(ngModel)]='user.username'
                                    value="" />
                            </div>

                            <!-- Password field -->
                            <div class="form-group">
                                <input type="password" class="form-control"
                                [(ngModel)]='user.password'
                                placeholder="Password *" name="password" id="password"
                                    value="" />
                            </div>

                            <!-- Confirm password field -->
                            <div class="form-group">
                                <input type="password" class="form-control"
                                    placeholder="Confirm Password *" value="" />
                            </div>

                            <!-- Gender field-->
                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" [(ngModel)]='user.gender' value="male"
                                            checked>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" [(ngModel)]='user.gender' name="gender" value="female">
                                        <span>Female </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                            
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control"
                                [(ngModel)]='user.email'
                                placeholder="Your Email *" name="email" id="email"
                                    value="" />
                            </div>
                            <div class="form-group">
                                <input type="text"
                                [(ngModel)]='user.phone'
                                name="phone" class="form-control"
                                    placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control"  [(ngModel)]='user.question' name="question">
                                    <option class="hidden" selected disabled>Please select
                                        your
                                        Sequrity Question
                                    </option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="answer"
                                [(ngModel)]='user.answer'
                                placeholder="Enter Your Answer *" value="" />
                            </div>
                            <input type="submit" class="btnRegister hvr-buzz-out" value="Register" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>