<!-- Main content -->
<div class="container bottom-space">

  <!-- Base page component -->
  <app-base-page></app-base-page>
  
  <!-- Actual page content-->
  <div class="container register page-content">

    <!-- Message Area -->
    <div class="alert alert-danger" *ngIf='errorMessage != null'>
      {{ errorMessage }}
    </div>

    <!-- Login container -->
    <div class="row">

      <!-- Left part -->
      <div class="col-md-3 register-left">
        <i class="fas fa-gamepad fa-6x" style="color: #383d41;"></i>
        <h3 style="color: rgb(0, 0, 0);">Welcome</h3>
        <p style="color: rgb(0, 0, 0);">Are you registered? If not, register here!</p>
        <a href="/register"><input class="btn-get-started animate__animated hvr-buzz-out" 
                                   type="submit" name="" value="Register" style="margin-bottom: 40px;"/><br/>
        </a>
      </div>

      <!-- Right part -->
      <div class="col-md-9 register-right">

            <!-- Login text header -->
            <h3 class="register-heading" style="color: black;">Login</h3>

            <!-- Login form -->
            <form autocomplete='off' #form='ngForm' (ngSubmit)='authenticate(form)'>

              <!-- Form row -->
              <div class="row register-form">

                <!-- User and password column -->
                <div class="col-md-6">

                  <!-- Form group -->
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]='user.username'
                      name="username" id="username" value="" />
                  </div>

                  <!-- Form group -->
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" [(ngModel)]='user.password'
                      name="password" id="password" value="" />
                  </div>
                </div>

                <!-- Security question column -->
                <div class="col-md-6" >

                  <!-- Form group -->
                  <div class="form-group" *ngIf='errorMessage != null'>
                    <select class="form-control" [(ngModel)]='user.question' name="question">
                      <option class="hidden" selected disabled>Please select
                        your
                        Sequrity Question
                      </option>
                      <option>What is your Birthdate?</option>
                      <option>What is Your old Phone Number</option>
                      <option>What is your Pet Name?</option>
                    </select>
                  </div>

                  <!-- Form group -->
                  <div class="form-group" *ngIf='errorMessage != null'>
                    <input type="text" [(ngModel)]='user.answer' class="form-control" name="answer"
                      placeholder="Enter Your Answer *" value="" />
                  </div>

                  <!-- Login button -->
                  <input type="submit" class="btnRegister hvr-buzz-out" value="Login"/>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
  </div>