<!-- Main Content -->
<div style="background-color: white; padding: 15px;">

  <!-- Innermost part -->
  <div class="row register-form" style="padding-top: 50px; margin-top: 0px;">
    
    <!-- Tournaments admin table -->
    <table id="dtBasicExample" (contentChanged)="reloadTable()" datatable="ng"  [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table hover cell-border order-column stripe">
      
      <!-- Table header -->
      <thead>
        <tr>
          <th>Title</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>No of Rounds</th>
          <th>Location</th>
          <th>Winner</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <!-- Table body -->
      <tbody>
        <tr *ngFor='let t of getTournaments()'>
          <td>{{ t.name }}</td>
          <td>{{ t.startDate }}</td>
          <td>{{ t.endDate }}</td>
          <td>{{ t.numberOfRounds }}</td>
          <td>{{ t.location}}</td>
          <td>{{ t.winner}}</td>

          <!-- Edit button -->
          <td>
            <button class="btn btn-sm btn-primary m-1" (click)='editTournament(t._id)'>
              <i class="fas fa-pencil-alt"></i> Edit
            </button>
          </td>

          <!-- Delete button -->
          <td>
            <button class="btn btn-sm btn-danger m-1" (click)='deleteTournament(t._id)'>
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>