<table id="dtBasicExample" style="background-color: whitesmoke;" class="table dtBasicExample table-striped table-bordered table-sm row-border hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Published</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let t of getTournaments()'>
      <td>{{ t.title }}</td>
      <td>{{ t.author }}</td>
      <td>{{ t.published }}</td>
      <td>{{ t.description }}</td>
      <td>{{ t.price | currency: 'USD': 'symbol': '2.2-2'}}</td>
      <td>
        <button class="btn btn-sm btn-primary m-1" (click)='editTournament(t._id)'>
          <i class="fas fa-pencil-alt"></i> Edit
        </button>
      </td>
      <td>
        <button class="btn btn-sm btn-danger m-1" (click)='deleteTournament(t._id)'>
          <i class="fas fa-trash-alt"></i> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)='addTournament()'>
  <i class="fas fa-plus-circle"></i> Add New Book
</button>