/* You can add global styles to this file, and also import other style files */
.rounded-corners {
    border-radius: 10px;
}

.custom-container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-space {
    padding-bottom: 100px;
}

.page-content {
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

body {
    background-color: aquamarine;
    background-image: url(../assets/images/background.png);
    background-size:cover;
}

ng-component {
    width: 100%;
}
